@charset "UTF-8";



    select[readonly],
    input[type="radio"][readonly],
    input[type="checkbox"][readonly]{
        pointer-events:none;
    }
	[readonly]{
        background-color:#E0E0E0;
        /* opacity: 0.6; */
    }
    [readonly] + label{
        pointer-events:none;
    }
